@charset "utf-8";

@media all and (max-width:600px) { 
    header{
        padding:20px 0px;
        text-align:center;
    }

    #menu li{
        margin:0px 4px;
    }
    #menu li:first-child{
        margin:0px 0px;
    }
    #menu li a{
        padding:0px 3px;
        font-size:13px;
        color:#5a5a5a;
    }
    #menu li.active{ /*현재 선택된 메뉴의 스타일*/
        border-bottom:1px solid #865009;
    }
    #menu li.active a{
        color:#865009;
    }
    #menu li:hover a{
        letter-spacing:1px;
    }

    #fp-nav.fp-left {
        display:none;
    }

    svg{
        width:500px;
        height:500px;
        margin-top:-200px;
    }
    #outline { 
        stroke:#F1E3C4;
    }
    #area {
        fill: #F1E3C4;
    }
    section:nth-child(1){
        background:url("../img/night.jpg")no-repeat;
        background-size:cover;
    }

    #wrap{
        width:100%;
        height:230px;
        text-align:center;
        top:-150px;
        clear:both;
    }  

    .seoul_box{
        width:100%;
        top:260px;
    }
    h3{
        font-weight:400;
        font-size:13px;
        position:absolute;
        left:0px;
    }
    h1{
        font-size:30px;
        padding:10 0px;
        margin-top:20px;
        position:absolute;
        left:0px;
    }
    .line1{
        width:300px;
        margin-top:60px;
    }
    .seoul-detail p{
        margin-top:10px;
        font-size:13px;
        width:400px;
        text-align:left;
        line-height:25px;
    }
    iframe{
        width:300px;
        height:130px;
        position:relative;
        left:0px;
        float:left;
        margin-top:20px;
}
    .info{
        font-size:13px;
        width:180px;
        height:80px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        right:0;
        margin-left:310px;
        margin-top:-85px;
        text-align:left;
        float:left;
    }

    section{
        clear:both;
    }

    .jeju_box{
        position:absolute;
        top:260px;
    }
    .jeju-detail p{
        margin-top:10px;
        font-size:13px;
        width:400px;
        text-align:left;
        line-height:25px;
    }

    .mono-detail p{
        margin-top:10px;
        font-size:13px;
        width:400px;
        text-align:left;
        line-height:25px;
    }
    .info_mono{
        font-size:13px;
        width:180px;
        height:80px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        right:0;
        margin-left:310px;
        margin-top:-85px;
        text-align:left;
        float:left;
    }

    .stay-detail p{
        margin-top:10px;
        font-size:13px;
        width:400px;
        text-align:left;
        line-height:25px;
    }
}
